In [4]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
from sklearn import preprocessing
from helpers import OutlierDetection
from statsmodels.stats.outliers_influence import variance_inflation_factor 
from sklearn.decomposition import PCA 
from sklearn.preprocessing import StandardScaler
import pickle

with open('encoded.pkl','rb') as file:
    labeled=pickle.load(file)
    
labeled.head()

,customerID,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,...,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,TotalCharges,Churn,SeniorCitizen,tenure,MonthlyCharges
0,5375,0,1,0,0,1,0,0,2,0,...,0,0,0,1,2,2505,0,0,1,29.85
1,3962,1,0,0,1,0,0,2,0,2,...,0,0,1,0,3,1466,0,0,34,56.95
2,2564,1,0,0,1,0,0,2,2,0,...,0,0,0,1,3,157,1,0,2,53.85
3,5535,1,0,0,0,1,0,2,0,2,...,0,0,1,0,0,1400,0,0,45,42.30
4,6511,0,0,0,1,0,1,0,0,0,...,0,0,0,1,2,925,1,0,2,70.70

## Feature Engineering

Grouping customers by subscription to streaming services

In [13]:
def streaming(row):
        if row['StreamingTV']==1 or row['StreamingMovies']==1:
            return '1'
        else:
            return '0'
    
labeled['StreamingCustomer']=labeled.apply(streaming, axis=1)

In [14]:
labeled=labeled.drop(columns=['StreamingTV', 'StreamingMovies'], axis=1)

Build feature to determine demographics based upon columns 'gender', 'partner', 'dependents' and 'senior citizen'

In [ ]:
def demographics():
    for index,row in lab